html,
body {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  /* font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif; */
}
html,
body,
#app {
  height: 100%;
}

input {
  border: none;
  outline: none;
}
button {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: #333;
}
li {
  list-style-type: none;
}


/* openlayers */
#map {
  position: fixed;
  height: 100%;
  width: 100%;
}

/* 替换el-popper默认padding */
.el-popper{
  padding: 5px !important;
}
/* el-message弹出位置下移 */
.el-message {
  top: 79px !important;
}

/* 自定义openlayers地图组件 */
/* 比例尺 */
.ol-scale-bar{
  position: absolute !important;
  transform: translate(1px) !important;
  bottom: 75px !important;
  
}
/* 鼠标坐标 */
.ol-mouse-position{
  position: fixed !important;
  top: auto !important;
  bottom: 9px !important;
  right: 304px !important;
  font-size: 6px;
  color: rgb(111, 114, 114);
}
/* 鹰眼 */
.ol-overviewmap {
  position: absolute !important;
  transform: translate(-6.2px) scale(0.9) !important;
  bottom: 95px !important;
}
/* 版权 */
.ol-attribution{
  position: fixed !important;
  right: 9px !important;
  bottom: 5px !important;
}
/* 全屏 */
.ol-full-screen{
  position: fixed !important;
  width: 24px;
  height: 24px;
  top: auto !important;
  bottom: 5px !important;
}

/* Cesium */
/* @import url(@/common/el-container.css); */
/* #cesiumContainer {
  width: 100%;
  height:100%;
} */
